.cardContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #393A4B;
    border-radius: 5px;
    gap: 2px;
    margin: 5px;
    padding: 2px;
    width: 50vw;
}

.filtros{
    display: flex;
    flex-direction: row;
}

.active{
    background-color: #b36c10;
}

.filter{
    padding: 5px;
    margin: 5px;
    color: #fff;
}

