.cardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px;
}

@media (min-width: 200px) and (max-width: 700px) {
    .cardContainer{
        flex-wrap: wrap;
    }
}